<a href="https://colab.research.google.com/github/pankajagrawal925/Text-Content-Recommenders/blob/master/Text_Recommenders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendations with Document Similarity

In [1]:
!pip install textsearch
!pip install contractions
import nltk
nltk.download('punkt')
nltk.download('stopwords')

Collecting textsearch
  Downloading https://files.pythonhosted.org/packages/42/a8/03407021f9555043de5492a2bd7a35c56cc03c2510092b5ec018cae1bbf1/textsearch-0.0.17-py2.py3-none-any.whl
Collecting pyahocorasick
  Downloading https://files.pythonhosted.org/packages/f4/9f/f0d8e8850e12829eea2e778f1c90e3c53a9a799b7f412082a5d21cd19ae1/pyahocorasick-1.4.0.tar.gz (312kB)
     |████████████████████████████████| 317kB 8.2MB/s
Collecting Unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 39.6MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.0-cp36-cp36m-linux_x86_64.whl size=81715 sha256=49748c8df1ba2d7ff515a3fe60b6df3a914e0b3bda153e7d1eccf91c38afbc40
  Stored in directory: /root/.cache/pip/wheels/0a/90/61/87a55f5b459792fbb2b7ba6b31721b06ff5cf6bde541b40994
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, Unidecode, textsearch
Successfully installed Unidecode-1.1.1 pyahocorasick-1.4.0 textsearch-0.0.17
Collecting contractions
  Downloading https://files.pythonhosted.org/packages/5a/6a/7bde208d21b4f7db1b666739dca8826d8fd7af34a14fddfda9b597ab8a45/contractions-0.0.23-py2.py3-none-any.whl
Requirement already satisfied: textsearch in /usr/local/lib/python3.6/dist-packages (from contractions) (0.0.17)
Requirement already satisfied: Unidecode in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.1.1)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.4.0)
Installing collected packages: contractions
Successfully installed contractions-0.0.23
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Load and View Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/tmdb_5000_movies (1).csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [6]:
df = df[['title', 'tagline', 'overview', 'popularity']]
df.tagline.fillna('', inplace=True)
df['description'] = df['tagline'].map(str) + ' ' + df['overview']
df.dropna(inplace=True)
df = df.sort_values(by=['popularity'], ascending=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 546 to 4553
Data columns (total 5 columns):
title          4800 non-null object
tagline        4800 non-null object
overview       4800 non-null object
popularity     4800 non-null float64
description    4800 non-null object
dtypes: float64(1), object(4)
memory usage: 225.0+ KB

In [7]:
df.head()

                       title  ...                                        description
546                  Minions  ...  Before Gru, they had a history of bad bosses M...
95              Interstellar  ...  Mankind was born on Earth. It was never meant ...
788                 Deadpool  ...  Witness the beginning of a happy ending Deadpo...
94   Guardians of the Galaxy  ...  All heroes start somewhere. Light years from E...
127       Mad Max: Fury Road  ...  What a Lovely Day. An apocalyptic story set in...

[5 rows x 5 columns]

## Build a Movie Recommender System

In [8]:
import nltk
import re
import numpy as np
import contractions

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    doc = contractions.fix(doc)
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    #filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

4800

In [9]:
norm_corpus

array(['gru history bad bosses minions stuart kevin bob recruited scarlet overkill supervillain alongside inventor husband herb hatches plot take world',
       'mankind born earth never meant die interstellar chronicles adventures group explorers make use newly discovered wormhole surpass limitations human space travel conquer vast distances involved interstellar voyage',
       'witness beginning happy ending deadpool tells origin story former special forces operative turned mercenary wade wilson subjected rogue experiment leaves accelerated healing powers adopts alter ego deadpool armed new abilities dark twisted sense humor deadpool hunts man nearly destroyed life',
       ...,
       'one way 100 fools stand way hitchhiker named martel gordone gets fight two bikers prostitute one bikers killed gordone arrested sent prison joins prisons boxing team effort secure early parole establish dominance prisons toughest gang',
       'dare go man affair married woman dropped wrong street going back hotel takes refuge rain old man invites turns mortician tells stories people wound establishment course four stories',
       '1971 post civil rights san francisco seemed like perfect place black korean war veteran family realize dream economic independence chance boss charlie walker would soon find naive city full impostors naysayers refused take answer catastrophic disaster opened door never open black man story happened stepped door feet'],
      dtype='<U797')

# Extract TF-IDF features

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(ngram_range=(1,2),min_df=2)
tfidf_matrix = tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(4800, 20468)

# Compute PairWise Document Similarity

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

      0         1         2     ...      4797      4798      4799
0  1.00000  0.000000  0.000000  ...  0.000000  0.000000  0.009646
1  0.00000  1.000000  0.000000  ...  0.000000  0.000000  0.007963
2  0.00000  0.000000  1.000000  ...  0.000000  0.027126  0.009340
3  0.00000  0.017839  0.000000  ...  0.000000  0.000000  0.000000
4  0.00607  0.007967  0.017176  ...  0.004515  0.043469  0.011464

[5 rows x 4800 columns]

# Get List of Movie Titles

In [0]:
movie_titles = df['title'].values

In [13]:
movie_titles

array(['Minions', 'Interstellar', 'Deadpool', ..., 'Penitentiary',
       'Alien Zone', 'America Is Still the Place'], dtype=object)

#Find Top Similar Movies for a Sample Movie
Let's take Minions the most popular movie in the dataframe above and try and find the most similar movies which can be recommended

In [14]:
movie_idx = np.where(movie_titles=='Minions')[0][0]
movie_idx

0

Get Movie Similarities

In [15]:
movie_sim = doc_sim_df.iloc[movie_idx].values
movie_sim

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.00964634])

**Get top 5 similar movie ids**

In [16]:
similar_movie_ids = np.argsort(-movie_sim)[1:6]
similar_movie_ids

array([ 33,  60, 737, 490, 298])

**Get top 5 similar movies**

In [17]:
sim_movies = movie_titles[similar_movie_ids]
sim_movies

array(['Despicable Me 2', 'Despicable Me',
       'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Superman',
       'Rise of the Guardians'], dtype=object)

#Build a movie recommender function to recommend top 5 similar movies for any movie
The movie title, movie title list and document similarity matrix dataframe will be given as inputs to the function

In [0]:
def movie_recommender(movie_title,movies = movie_titles,doc_sims=doc_sim_df):
  movie_idx = np.where(movies==movie_title)[0][0]
  movie_sim = doc_sim_df.iloc[movie_idx].values
  movie_sim_idx = np.argsort(-movie_sim)[1:6]
  sim_movies = movies[movie_sim_idx]
  return sim_movies

# Get Popular Movie Recommendations

In [0]:
popular_movies = ['Minions', 'Interstellar', 'Deadpool', 'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Terminator Genisys', 
              'Captain America: Civil War', 'The Dark Knight', 'The Martian', 'Batman v Superman: Dawn of Justice', 
              'Pulp Fiction', 'The Godfather', 'The Shawshank Redemption', 'The Lord of the Rings: The Fellowship of the Ring',  
              'Harry Potter and the Chamber of Secrets', 'Star Wars', 'The Hobbit: The Battle of the Five Armies',
              'Iron Man']

In [20]:
for movie in popular_movies:
  print("movie name:",movie)
  print("top 5 recommended movie are:", movie_recommender(movie,movies=movie_titles,doc_sims = doc_sim_df))
  print()

movie name: Minions
top 5 recommended movie are: ['Despicable Me 2' 'Despicable Me'
 'Teenage Mutant Ninja Turtles: Out of the Shadows' 'Superman'
 'Rise of the Guardians']

movie name: Interstellar
top 5 recommended movie are: ['Gattaca' 'Space Pirate Captain Harlock' 'Space Cowboys'
 'Starship Troopers' 'Final Destination 2']

movie name: Deadpool
top 5 recommended movie are: ['Silent Trigger' 'Underworld: Evolution' 'Bronson' 'Shaft' 'Don Jon']

movie name: Jurassic World
top 5 recommended movie are: ['Jurassic Park' 'The Lost World: Jurassic Park'
 "National Lampoon's Vacation" 'The Nut Job' 'Vacation']

movie name: Pirates of the Caribbean: The Curse of the Black Pearl
top 5 recommended movie are: ["Pirates of the Caribbean: Dead Man's Chest"
 'Pirates of the Caribbean: On Stranger Tides' 'The Pirate'
 'The Pirates! In an Adventure with Scientists!' 'Joyful Noise']

movie name: Dawn of the Planet of the Apes
top 5 recommended movie are: ['Battle for the Planet of the Apes' 'Groove' 'The Other End of the Line'
 'Chicago Overcoat' 'Definitely, Maybe']

movie name: The Hunger Games: Mockingjay - Part 1
top 5 recommended movie are: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'John Carter' 'For Greater Glory - The True Story of Cristiada'
 'The Proposition']

movie name: Terminator Genisys
top 5 recommended movie are: ['Terminator 2: Judgment Day' 'Terminator Salvation'
 'Terminator 3: Rise of the Machines' 'Mad Max'
 'X-Men: Days of Future Past']

movie name: Captain America: Civil War
top 5 recommended movie are: ['Captain America: The Winter Soldier' 'This Means War'
 'Avengers: Age of Ultron' 'Iron Man 2' 'Escape from Tomorrow']

movie name: The Dark Knight
top 5 recommended movie are: ['The Dark Knight Rises' 'Batman Forever' 'Batman Returns'
 'Batman: The Dark Knight Returns, Part 2' 'JFK']

movie name: The Martian
top 5 recommended movie are: ['The Last Days on Mars' 'Swept Away' 'Alive' 'All Is Lost' 'Red Planet']

movie name: Batman v Superman: Dawn of Justice
top 5 recommended movie are: ['Batman Returns' 'The Punisher' 'Defendor'
 'Batman: The Dark Knight Returns, Part 2' 'Nowhere to Run']

movie name: Pulp Fiction
top 5 recommended movie are: ['Sliding Doors' 'You Kill Me' 'New York Stories' 'Timecrimes'
 'All or Nothing']

movie name: The Godfather
top 5 recommended movie are: ['The Godfather: Part II' 'Blood Ties' 'Made' 'Lords of London'
 'Easy Money']

movie name: The Shawshank Redemption
top 5 recommended movie are: ['Civil Brand' 'Les Misérables' 'The Chorus' 'Prison' 'Fortress']

movie name: The Lord of the Rings: The Fellowship of the Ring
top 5 recommended movie are: ['The Lord of the Rings: The Two Towers'
 'The Hobbit: The Desolation of Smaug'
 'The Lord of the Rings: The Return of the King'
 "What's the Worst That Could Happen?" 'The Hobbit: An Unexpected Journey']

movie name: Harry Potter and the Chamber of Secrets
top 5 recommended movie are: ['Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Goblet of Fire'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Half-Blood Prince'
 "Harry Potter and the Philosopher's Stone"]

movie name: Star Wars
top 5 recommended movie are: ['The Empire Strikes Back' 'Return of the Jedi' 'Shrek the Third'
 'The Ice Pirates' 'The Tale of Despereaux']

movie name: The Hobbit: The Battle of the Five Armies
top 5 recommended movie are: ['The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 "Dragon Nest: Warriors' Dawn"
 'A Funny Thing Happened on the Way to the Forum' 'X-Men: Apocalypse']

movie name: Iron Man
top 5 recommended movie are: ['Iron Man 2' 'Avengers: Age of Ultron' 'Hostage' 'Iron Man 3'
 'Baahubali: The Beginning']

# Movie Recommendation with Embeddings
Here, we will use FastText model and train it on our corpus

In [0]:
from gensim.models import FastText

tokenized_docs = [doc.split() for doc in norm_corpus]
ft_model = FastText(tokenized_docs, size=300, window=30, min_count=2, workers=4, sg=1, iter=50)

#Generate document level embeddings
Word embedding models give us an embedding for each word, how can we use it for downstream ML\DL tasks? one way is to flatten it or use sequential models. A simpler approach is to average all word embeddings for words in a document and generate a fixed-length document level emebdding

In [0]:
def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index2word)
    
    def average_word_vectors(words, model, vocabulary, num_features):
        feature_vector = np.zeros((num_features,), dtype="float64")
        nwords = 0.
        
        for word in words:
            if word in vocabulary: 
                nwords = nwords + 1.
                feature_vector = np.add(feature_vector, model.wv[word])
        if nwords:
            feature_vector = np.divide(feature_vector, nwords)

        return feature_vector

    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [23]:
doc_vecs_ft = averaged_word2vec_vectorizer(tokenized_docs, ft_model, 300)
doc_vecs_ft.shape

(4800, 300)

#Get Movie Recommendations
We will again use cosine similarity to generate recommendations

In [24]:
doc_sim = cosine_similarity(doc_vecs_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.491099  0.508440  ...  0.493601  0.514888  0.564069
1  0.491099  1.000000  0.566972  ...  0.487538  0.531165  0.571149
2  0.508440  0.566972  1.000000  ...  0.539310  0.527676  0.542354
3  0.499601  0.542050  0.577382  ...  0.499612  0.496677  0.540088
4  0.522898  0.602516  0.591965  ...  0.569277  0.631921  0.634419

[5 rows x 4800 columns]

In [26]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movie_titles, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Despicable Me' 'Time Bandits'
 'Rise of the Entrepreneur: The Search for a Better Way'
 'Austin Powers: The Spy Who Shagged Me' 'Despicable Me 2']

Movie: Interstellar
Top 5 recommended Movies: ['Prometheus' 'Gattaca' 'Space Cowboys'
 'Sea Rex 3D: Journey to a Prehistoric World' 'Jason X']

Movie: Deadpool
Top 5 recommended Movies: ['Fantastic Four' 'Banshee Chapter' 'The Hunted' 'Enough' 'Spider-Man 3']

Movie: Jurassic World
Top 5 recommended Movies: ['Jurassic Park' 'The Lost World: Jurassic Park' 'Jurassic Park III'
 "National Lampoon's Vacation" 'Walking With Dinosaurs']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Pirates of the Caribbean: On Stranger Tides'
 'The Pirates! In an Adventure with Scientists!'
 "Pirates of the Caribbean: Dead Man's Chest"
 'American Ninja 2: The Confrontation' 'In the Name of the King III']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'Conquest of the Planet of the Apes'
 'Rise of the Planet of the Apes' 'Planet of the Apes' 'Hard to Be a God']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'The Hunger Games' 'White House Down' 'Thor: The Dark World']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 2: Judgment Day' 'Terminator 3: Rise of the Machines'
 'X-Men: Days of Future Past' 'Terminator Salvation' 'The Terminator']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Captain America: The Winter Soldier' 'Avengers: Age of Ultron'
 'Iron Man 2' 'Men in Black' 'Divergent']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman Forever' 'Batman' 'Batman Returns'
 'Batman: The Dark Knight Returns, Part 2']

Movie: The Martian
Top 5 recommended Movies: ['Red Planet' 'Battleship' 'Alien' 'Star Trek IV: The Voyage Home'
 'Sanctum']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Batman: The Dark Knight Returns, Part 2' 'Defendor' 'Batman'
 'Batman Returns' 'The Dark Knight Rises']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Locker 13' 'Sliding Doors' '11:14' 'Crying with Laughter' 'Urbania']

Movie: The Godfather
Top 5 recommended Movies: ['The Godfather: Part II' 'The Godfather: Part III' 'The Jerky Boys'
 'Machete' 'Loose Cannons']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Civil Brand' 'Escape Plan' 'Prison' 'Bridge of Spies' 'Get Hard']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Hobbit: An Unexpected Journey'
 'The Lord of the Rings: The Two Towers'
 'The Lord of the Rings: The Return of the King'
 'The Hobbit: The Desolation of Smaug'
 'The Hobbit: The Battle of the Five Armies']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Harry Potter and the Goblet of Fire'
 'Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Half-Blood Prince'
 "Harry Potter and the Philosopher's Stone"]

Movie: Star Wars
Top 5 recommended Movies: ['The Empire Strikes Back' 'Return of the Jedi'
 'Star Wars: Episode III - Revenge of the Sith'
 'Star Wars: Episode II - Attack of the Clones' 'The Ice Pirates']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 "Dragon Nest: Warriors' Dawn" 'Harry Potter and the Order of the Phoenix'
 '300: Rise of an Empire']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 2' 'Avengers: Age of Ultron' 'Batman Begins' 'Ant-Man' 'Steel']